{% extends 'partials/base.html' %} {% block title %} Login Page {% endblock %} {% block content %}
<div class="container">
  <div class="container">
    <h1>회원가입</h1>
    <form method="POST" action="{% url 'signup' %}">
      {% csrf_token %} email :
      <input name="email" type="text" value="" />
      아이디 :
      <input name="username" type="text" value="" />
      <br />
      <br />
      비밀번호 :
      <input name="password1" type="password" value="" />
      <br />
      <br />
      비밀번호 확인 :
      <input name="password2" type="password" value="" />
      <h6>비밀번호는 영문자, 숫자, 특수문자 조합 8자 이상</h6>
      <br />
      <br />
      <input class="btn btn-primary" type="submit" value="회원가입" />
    </form>
  </div>
</div>
{% endblock content %}
