{% extends 'partials/base.html' %}
{% load static %}
{% block title %} Index Page {% endblock %}
{% block content %}

{% if request.user.is_authenticated %}
    <div class="cover">
        <div class="container" style="display: flex; justify-content: center;">
            <div class="main_image" style="margin-right: 10px;">
                <a href="{% url 'recsys' %}">
                    <img class="img-rest" src="{% static 'css/slogan.jpg' %}"/>
                    <h1 class="main_image_text" style="font-size:50px">맛집 추천</h1>
                </a>
            </div>
            <div class="main_image" style="margin-left: 10px;">
                <a href="{% url 'recsys' %}">
                    <img class="img-rest" src="{% static 'css/slogan.jpg' %}"/>
                    <h1 class="main_image_text" style="font-size:50px">명소 추천</h1>
                </a>
            </div>
        </div>
    </div>

{% else %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <div class="cover"></div>

{% endif %}
<style>
    .main_image {
        position: relative;
    }
    .main_image_text {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate( -50%, -50% );
        color: black;
    }
</style>


{% endblock content %}
