{% extends 'partials/base.html' %} {% block title %} Kakaomap {% endblock %} {% block content %}
<!-- {% for choice in choice_list %}
<p>
    <label>{{choice.url}}</label>
</p>
{% endfor %} -->
<h2>Kakao Map</h2>
<div id="map" style="width:800px;height:600px;"></div>
<script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey="></script>
<script>
    var container = document.getElementById('map');
    var options = {
        center: new kakao.maps.LatLng(35.5383773, 129.3113596),
        level: 3
    };

    var map = new kakao.maps.Map(container, options);
</script>
{% endblock content %}