{% extends 'partials/base.html' %} {% block title %} Kakaomap {% endblock %} {% block content %}
<!-- {% for choice in choice_list %}
<p>
    <label>{{choice.url}}</label>
</p>
{% endfor %} -->
<h2>Kakao Map</h2>
<p style="margin-top:-12px">
    <em class="link">
        <a href="javascript:void(0);" onclick="window.open('http://fiy.daum.net/fiy/map/CsGeneral.daum', '_blank', 'width=981, height=650')">
            혹시 주소 결과가 잘못 나오는 경우에는 여기에 제보해주세요.
        </a>
    </em>
</p>
<div id="map" style="width:100%;height:800px;"></div>

<script src="//dapi.kakao.com/v2/maps/sdk.js?appkey=5ce693e5ecf0abc032edde8fe8f50ff8&libraries=services"></script>
<script>
    var items = JSON.parse('{{ items|escapejs }}');
    console.log(items)
    var mapContainer = document.getElementById('map');
    var mapOption = {
        center: new kakao.maps.LatLng(35.5383773, 129.3113596),
        level: 5
    };
    var map = new kakao.maps.Map(mapContainer, mapOption);
    
    for (var i = 0; i < items.length; i++) {
        var geocoder = new kakao.maps.services.Geocoder();
        var address = items[i].address;
        console.log(address)
        geocoder.addressSearch(address, function(result, status) {
            if (status === kakao.maps.services.Status.OK) {
                var markerPosition = new kakao.maps.LatLng(result[0].y, result[0].x);
                var marker = new kakao.maps.Marker({
                    position: markerPosition
                });
                marker.setMap(map);
            } else {
                console.log('Failed to get coordinates for address: ' + address);
            }
        });
    }
</script>
{% endblock content %}