{% extends 'partials/base.html' %} {% block title %} Test Recommadation Page {% endblock %} {% block content %}
<div class="cover">
    <div class="container">
        <h1>먹거리 추천</h1>
        <form action="{% url 'recsys'%}" method="POST">
            {% csrf_token %}
            <button type="submit">추천받기</button>
        </form>
    </div>
    <br />
    {% if i_list %}
    <div class="container">
        <h1>추천 결과</h1>
        <form action="{% url 'kakaomap' %}" method="POST">
            {% csrf_token %} {% for item in i_list %}
            <p>
                <label><input type="checkbox" value="{{item.p_name}}" />{{item.p_name}}</label>
            </p>
            {% endfor %}
            <button type="submit">선택완료</button>
        </form>
    </div>
    {% else %}
    <div class="container">
        <h1>추천 결과 없음</h1>
    </div>
    {% endif %}
</div>
{% endblock content %}
